body {
    margin: 0;
    /*background: linear-gradient(135deg, #6e8efb, #c677e3);*/
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; /* Updated font family */
    font-size: 2rem; /* Increased font size */
    font-weight: bold; /* Bolder text */
    background-image: url('../imgs/date.jpeg');
    /* Path to the image */
    background-size: cover;
    /* Cover the entire page */
    background-position: center;
    /* Center the background image */
}

.glass {
    background: rgba(107, 25, 40, 0.481);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.456);
    backdrop-filter: blur(10px) brightness(1.2);
    padding: 20px;
    color: #fff;
    text-align: center;
    margin: 2rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}