body {
    margin: 0;
    /*background: linear-gradient(135deg, #6e8efb, #c677e3);*/
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif; /* Updated font family */
    font-size: 1.2em; /* Increased font size */
    font-weight: bold; /* Bolder text */
    background-image: url('../imgs/bale2.jpeg');
    background-size: cover;
    /* Cover the entire page */
    background-position: center;
    /* Center the background image */
}

footer {
    background: rgba(255, 255, 255, 0.293);    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.456);
    backdrop-filter: blur(1px) brightness(1.2);
    text-align: left;
    width: 100%;
    padding-left: 2em;
    box-sizing: border-box; /* Add this line */
}

header {
    display: flex;
    flex-direction: column;
}

.bendik-glass{
    background-image: url('imgs/bendik.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 2em;
    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.456);
}


.glass {
    background: rgba(255, 255, 255, 0.293);
    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.456);
    backdrop-filter: blur(2px) brightness(1.2);
    padding: 1em;
    color: #2c2c2c;
    text-align: center;
    margin: 2em;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}
