@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

article {
    background-color: #f4f4f4;
    max-width: 800px;
    /* Adjust this value based on your preference */
    margin: auto;
    /* Centers the article on the page */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this if not already positioned */
}

article figure {
    text-align: center;
    margin-top: 20px;
    position: relative; /* Make figure a positioning context */
    font-size: small;
}

article figure img {
    max-width: 100%;
    max-height: 300px; /* Example max height */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area, might crop the image */
    border-radius: 8px;
}

article figure header {
    font-size: larger;
}

article header h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    /* Remove color here if specified in article header */
}

article p {
    color: #171717;
    line-height: 1.6;
}

aside {
    padding: 1rem; /* Inner spacing */
    color: grey; /* Grey text */
    font-size: small; /* Smaller text size */
    background-color: #e0ebf8e8; /* Light background for the card */
    border: 1px solid #ddd; /* Light grey border */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
    margin-bottom: 20px; /* Space below the card */
    border-radius: 5px; /* Rounded corners */
}

aside img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}